body {
    /*   font-size: 14vmin; */
      background: #123;
    }
    
    @property --sunray1 {
      syntax: '<percentage>';
      inherits: true;
      initial-value: 27%;
    }
    
    @property --sunlight {
      syntax: '<percentage>';
      inherits: true;
      initial-value: 91%;
    }
    
    .space2 {
        bottom: -100px;
      --speed: 0.4s;
      appearance: none;
      font-size: 1em;
      box-sizing: content-box;
      width: 2.5em;
      height: 1em;
      border: 1px solid #fff3;
      background:
        /* stars */
        radial-gradient(circle, #fff5 0.005125em, #fff0 0) 0.3em 0.17em / 31% 31%,
        radial-gradient(circle, #fff8 0.0075em, #fff0 0) 0.2em 0.21em / 51% 51%,
        radial-gradient(circle, #fff4 0.005125em, #fff0 0) 0.20em 0.21em / 41% 43%,
        radial-gradient(circle, #fff3 0.01em, #fff0 0) 0.4em 0.85em / 37% 35%,
        radial-gradient(circle, #fff7 0.005125em, #fff0 0) 0.57em 0.26em / 34% 53%,
        radial-gradient(circle, #ffc5 0.005125em, #fff0 0) 0.77em -0.08em / 29% 44%,
        /* dark areas */
        radial-gradient(at 0 0, #123, #1230 50%),
        radial-gradient(at 100% 0, #123, #1230 80%),
        radial-gradient( at 50% 0, #4568, #4560 60%),
        radial-gradient(at 50% 0, #123 30%, #1230 50%),
        radial-gradient(100% 100% at 0% 50%, #123, #1230 50%),
        radial-gradient(100% 100% at 100% 50%, #123, #1230 70%),
        #123;
      position: relative;
      overflow: hidden;
      border-radius: 2em;
      transition: background-position calc(var(--speed) * 0.8);
      
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-0.5em, 1em);
        width: 2.5em;
        height: 100%;
        background: 
          /* sun rising */
        radial-gradient(circle at 50% calc(100% - 0.2em), #ffef 0.075em, #fccc, #fc89, #f855, #f851, #fff0 0.9em) 50% 100%
          ,
        radial-gradient(circle at 50% calc(100% - 0.1em), #fff6 0.25em, #fff0 0.5em),
          /* sun rays */
        repeating-conic-gradient(at 50% calc(100% - 0.2em), #ffffff05 0 3%, #fff0 7%),
        repeating-conic-gradient(at 50% calc(100% - 0.2em), #ffffff03 6%, #fff0 11%),
        repeating-conic-gradient(at 50% calc(100% - 0.2em), #ffffff03 1deg, #fff0 3deg)
          ;
        mask: radial-gradient(farthest-side at 50% calc(100% - 0.2em), #000 80%, #0000);
          transition: transform var(--speed);
      }
      
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 2.5em;
        height: 120%;
         transform: translate(-0.5em, 65%);
        border-radius: 50%;
      box-shadow: 0 -0.15em 0.2em -0.2em #fff;
        background:
          /* sun light overflow */
          radial-gradient(circle at 50% 0, #ffe8, #fcc4, #fc81, #fff0 2em) 50% 100%,
          radial-gradient(100% 50% at 50% 0, #fff2, #ff00 20%),
          /* ground color */
          radial-gradient(farthest-side at 20% 50%, #2108 80%, #0000),
          radial-gradient(farthest-side at 70% 50%, #1208 80%, #0000),
          radial-gradient(60% 50%, #123c var(--sunlight), #ffff),
          /* more sunlight overflow */
          repeating-conic-gradient(at 50% 0, #fff0 27%, #fff var(--sunray1)),
          /* base */
          radial-gradient(farthest-side, #0128 60%, #0123 70%, #eee 99%),
          linear-gradient(#666, #000 20%);
        transition: transform, box-shadow, --sunray1, --sunlight;
        transition-duration: var(--speed);
      }
      
      &:hover {
        &::before {
          transform: translate(-0.5em, 0.5em);
        }
        &::after {
          --sunlight: 88%;
        }
      }
      
      &:checked {
        background-position:
          0.2em 0.20em, 0.1em 0.24em, 0.10em 0.24em, 0.3em 0.88em, 0.47em 0.29em, 0.67em -0.11em, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
        
        &::before {
          transform: translate(0.5em, 0);
        }
        
        &::after {
          --sunray1: 40%;
          --sunlight: 81%;
          transform: translate(0.5em, 65%);
          box-shadow: 0 0 0.075em 0 #fff;
        }
      }
    }
    
    @media (prefers-reduced-motion) {
      .space2 {
        &, &::before, &::after {
          transition-duration: 0s;
        }
      }
    }