html {
    background-image: url(/cssproject/starnight.jpeg);
  }

body {
    margin: 40px;
    color: #ffffff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.345);
    
}

h3 { /* concert heading descriptions */
    color: #ebeb43;
    font-size: 25px;
    padding-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.concertsone { /* background color of some concerts */
    background-color: rgb(16, 41, 63);
    padding: 10px;
    padding-bottom: 30px;
    border-style:groove;
    border-color: #ffffff72;
    margin-bottom: 20px;
}

.concertstwo { /* background color of some concerts */
    background-color: rgb(62, 8, 8);
    padding: 10px;
    padding-bottom: 30px;
    border-style:groove;
    border-color: #ffffff72;
    margin-bottom: 20px;
}

.concertbox { /* text */ 
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 18px;
}

.concertbox strong, .concertbox em { /* text stuff , bold and italics */ 
    color: #ebeb43da;
}

/* start of right and left text aligns */ 
.right {
    text-align: left;
    width: 65%;

}
.left {
    text-align: center;

}

.left ul {
    list-style-type: none;
    padding-left: 0;
}

.left ul li {
    margin-bottom: 5px;
}

/* end of left and right text aligns */ 

.header {
    background-color: rgb(16, 41, 63);  
    /* idk if i should keep the color*/ 
    padding: 10px;
    border-style:groove;
    border-color: #ffffff72;
    
}

.header h1{
    font-size: 35px;
}

.header h2{
    font-size: 30px;
}

.concert-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.concert-header {
    grid-column: span 2; 
    font-size: 26px;
    background-color: rgb(62, 8, 8);
    padding: 20px;
    color: #ffffff;
    padding: 10px;
    border-radius: 15px;
    border-style:groove;
    border-color: #f2f2f287;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5px;

}

.concert-item {
    background-color: rgb(62, 8, 8);
    padding: 15px;
    border-radius: 15px;
    border-style:groove;
    border-color: #ffffff72;
    transition: 0.3s;
    align-items: center;
    margin: 5px;

}

.concert-item:hover {
    background-color: rgb(16, 41, 63);
}

.concert-item a {
    color: #ffffff;
    font-size: 18px;
    text-align: left;
}

.concert-item a:hover { /* when hover it goes red the text */
    color:  #ebeb43;
}

footer {
    background-color: rgb(16, 41, 63);
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    border-style:groove;
    border-color: #ffffff72;
}


footer a {
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer a:hover { /* when hover it goes red the text */
    color:  #ebeb43;
}



@media screen and (max-width: 499px)  {
    .concertbox {
        flex-direction: column;  
        gap: 20px;
        font-size: 15px;
    }


    .concert-container {
        display: flex;
        flex-direction: column;
    }

    .concert-container a {
       font-size: 15px;
    }
    .header h1, .header h2 {
        font-size: 24px; 
    }

    .concert-header {
        font-size: 15px; 
        padding: 10px; 
    }

    h3 {
        font-size: 20px; 
    }

    .concertbox, .right, .left{
        font-size: 15px; 
    }
    
    footer a{
        font-size: 15px;
    }
}


@media screen and (min-width: 1500px) {

    .concert-item a {
        font-size: 40px; 
    }

    .header h1 {
        font-size: 45px; 
    }

    .header h2 {
        font-size: 40px;
    }

    .concert-header{
        font-size: 40px; 
        padding: 25px; 
    }

    h3 {
        font-size: 40px; 
    }
    .concertbox, .right, .left{
        font-size: 40px; 
    }

    footer a{
        font-size: 45px;
    }
}