html {
    background-image: url(/cssproject/starnight.jpeg);
  }

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin: 40px;
    color: #ffffff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.345);
}


h3 { /* concert heading descriptions */
    text-align: center;
    margin-bottom: 20px;
    color: #FFD700;
}

.concertsone {
    background-color: rgb(38, 3, 33);
    padding: 10px;
    padding-bottom: 30px;
    border-radius: 10%;
}

.concertstwo {
    background-color: rgb(17, 125, 140);
    padding: 10px;
    padding-bottom: 30px;
    border-radius: 10%;
}

.concertbox { /* right text concert */ 
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.right {
    text-align: left;
    width: 65%;
}
.left {
    text-align: center;
}

.left ul {
    list-style-type: none;
    padding-left: 0;
}

.left ul li {
    margin-bottom: 5px;
}

.header {
    background-color: rgb(16, 41, 63);
    padding: 10px;
}

.concert-container{
    background-color: aqua;
}




.concert-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    margin: auto;
    background: white;
    border-radius: 15%;
}

.concert-header {
    grid-column: span 2; 
    font-size: 24px;
    background-color: #3498db;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.concert-item {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
    font-size: 18px;
}

.concert-item:hover {
    background-color: #25244d;
}

.concert-item a {
    color: rgb(0, 0, 0);
}

.concert-item a:hover { /* when hover it goes red the text */
    color: #ff0000;
}

